In [17]:
import requests
import pandas as pd

api_key = 'ITL1B9MC4L5G7SEN'
symbol = 'SIE.DE'
output_size = 'full'

url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&outputsize={output_size}&apikey={api_key}'
r = requests.get(url)
time_series = r.json()['Time Series (Daily)']

data = []
for date, values in time_series.items():
    data.append([
        date,
        float(values["1. open"]),
        float(values["2. high"]),
        float(values["3. low"]),
        float(values["4. close"]),
        int(values["5. volume"])
    ])

df0 = pd.DataFrame(data, columns=["date", "open", "high", "low", "close", "volume"])
print(df0.shape)
df0.tail()

(4942, 6)

            date     open     high      low    close   volume
4937  2005-01-07  54.6663  54.9284  53.8103  54.6751  5199793
4938  2005-01-06  53.9500  54.4043  53.8103  54.3955  3243012
4939  2005-01-05  54.1684  54.2995  53.8539  53.8889  3633037
4940  2005-01-04  54.7799  54.9546  54.5178  54.6838  2940951
4941  2005-01-03  54.5353  55.2516  54.3344  54.9896  3354107

In [18]:
import ta

df = df0

df.set_index('date', inplace=True)

df['RSI'] = ta.momentum.RSIIndicator(df['close'], window=15).rsi()
df['Williams %R'] = ta.momentum.WilliamsRIndicator(df['high'], df['low'], df['close'], lbp=15).williams_r()
df['SMA'] = ta.trend.SMAIndicator(df['close'], window=15).sma_indicator()
df['EMA'] = ta.trend.EMAIndicator(df['close'], window=15).ema_indicator()
df['WMA'] = ta.trend.WMAIndicator(df['close'], window=15).wma()
# df['HMA'] = ta.trend.HMAIndicator(df['close'], window=15).hma()
# df['TEMA'] = ta.trend.TEMAIndicator(df['close'], window=15).tema()
df['CCI'] = ta.trend.CCIIndicator(df['high'], df['low'], df['close'], window=15).cci()
# df['CMO'] = ta.momentum.CMOIndicator(df['close'], window=15).cmo()
df['MACD'] = ta.trend.MACD(df['close'], window_slow=26, window_fast=12, window_sign=9).macd()
df['MACD Signal'] = ta.trend.MACD(df['close'], window_slow=26, window_fast=12, window_sign=9).macd_signal()
df['PPO'] = ta.momentum.PercentagePriceOscillator(df['close']).ppo()
df['ROC'] = ta.momentum.ROCIndicator(df['close'], window=15).roc()
df['CMFI'] = ta.volume.ChaikinMoneyFlowIndicator(df['high'], df['low'], df['close'], df['volume'], window=15).chaikin_money_flow()
df['DMI'] = ta.trend.ADXIndicator(df['high'], df['low'], df['close'], window=15).adx()
df['Parabolic SAR'] = ta.trend.PSARIndicator(df['high'], df['low'], df['close']).psar()

df.head()

/home/miikimikki/Documents/DL/Tugas3/.venv/lib/python3.11/site-packages/ta/trend.py:1030: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  self._psar[i] = high2

,open,high,low,close,volume,RSI,Williams %R,SMA,EMA,WMA,CCI,MACD,MACD Signal,PPO,ROC,CMFI,DMI,Parabolic SAR
date,,,,,,,,,,,,,,,,,,
2024-06-13,177.28,177.56,170.44,170.84,1395794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,170.8400
2024-06-12,173.12,178.58,172.30,178.10,975006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,178.1000
2024-06-11,174.70,175.44,172.18,172.46,953042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,177.5600
2024-06-10,174.12,174.52,172.06,174.44,717411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,178.5800
2024-06-07,175.00,175.26,172.62,174.44,1034765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,178.3192